<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "tr" }}">

  {%- include head.html -%}

  <body>
  <table>
    <tr>
      <td colspan="2">{%- include header.html -%}</td>
    </tr>
    <tr>
      <td>
          <div class="">
              <h4>Kategoriler List</h4>
              <ul class="list-unstyled">
                {% for category in site.categories %}
                  <li><a href="/kategori/#{{ category[0] }}-ref">{{ category[0] }}</a> <span>({{ category[1].size }})</span></li>
                {% endfor %}
              </ul>
            </div>
      </td>
      <td>
        <div class="py-5">
          <div class="container page-content">
            {{ content }}
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">    {%- include footer.html -%}
      </td>
    </tr>

  </table>









  </body>

</html>
